<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691828105579-nnespldrla1v3krq6deshahbbm5rfa69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691828105579-nnespldrla1v3krq6deshahbbm5rfa69</string>
	<key>API_KEY</key>
	<string>AIzaSyC_j0-1VT0EQLnRLWJZ3X1lZG1P7YI8DAc</string>
	<key>GCM_SENDER_ID</key>
	<string>691828105579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hypeneedz</string>
	<key>PROJECT_ID</key>
	<string>hypeneedz-8cb89</string>
	<key>STORAGE_BUCKET</key>
	<string>hypeneedz-8cb89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691828105579:ios:1bfbf68fde60f3c570ac2e</string>
</dict>
</plist>